  <section class="function container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1>Topic投稿</h1>
          <%= render 'form' %>
        </div>

        <div class="col-md-6 col-sm-12">
        <h1>Topic一覧</h1>
         <div class="row">
         <% @topics.reverse_each do |topic| %>

          <div class="col-sm-12">
           <div class="tweet_col">
            <div class="tweet_col_content">
	      <% if topic.image? %>
	        <%= image_tag topic.image.url if topic.image? %>
	      <% end %><br>

            <p><strong><%= topic.title %></strong></p>
            <p><%= topic.content %></p>
            <p>by <%= topic.user.name %></p>

            </div>
            <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success'  %>
            <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger'  %>
           </div>
          </div>
         <% end %>
         </div>
        </div>
    </div>

<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

</section>

